<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Strength Recognition using Machine Learning</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
      <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h3>PASSWORD STRENGTH EVALUATOR USING MACHINE LEARNING</h3><br>
          <form method="POST" action="/main/" class="form-group">
            <input type="text" name="password" class="form-control" placeholder="password" value="{{ request.form.password }}"><br>
            <button type="submit" name="submit" class="btn btn-default">Check</button>
          </form>
        </div><!-- ./col-md-4 -->
        <div class="col-md-4"></div>
      </div><!-- ./row -->

      <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        </div><!-- ./col-md-4 -->
        <div class="col-md-4"></div>
      </div><!-- ./row -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  </body>
</html>
